@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-1.2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(1.2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 1;
    transform: translateY(-27rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 0;
  box-sizing: border-box; }

::selection {
  background-color: #ff8899;
  color: #fff; }

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 2; }

.heading__front {
  letter-spacing: .8rem;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading__front--first {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    font-size: 7.5rem;
    font-weight: 300;
    display: inline-block;
    color: #c51162; }
  .heading__front--second {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    font-size: 5rem;
    font-weight: 100;
    display: inline-block;
    color: #c51162; }

.heading-primary {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  animation-name: moveInTop;
  animation-duration: 1.4s;
  animation-timing-function: ease-in; }

.paragraph {
  font-size: 1.6rem;
  color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-left-small {
  margin-left: 1.5rem !important; }

.u-margin-left-medium {
  margin-left: 4rem !important; }

.u-margin-left-big {
  margin-left: 8rem !important; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  /* margin: 0 auto; centers the block element, inside another block element */ }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header__logo {
  width: 15rem;
  display: inline-block; }
  .header__logo:hover {
    width: 17rem; }

.header__logo-box {
  display: inline-block; }

.footer {
  padding: 10rem 0;
  margin-top: 25rem;
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 300px;
  background: linear-gradient(to right, #6d0959, #c51162);
  -webkit-clip-path: polygon(0 8%, 100% 34%, 100% 100%, 0% 100%);
  clip-path: polygon(0 8%, 100% 34%, 100% 100%, 0% 100%); }
  .footer__copy-right {
    color: #fff;
    font-size: 1.2rem;
    display: inline-block;
    margin-left: -18rem; }
  .footer__copy-right-link {
    color: #fff;
    text-decoration: none;
    transition: 1s; }
    .footer__copy-right-link:hover {
      transform: ease-out;
      font-size: 1.4rem;
      text-decoration: underline; }
  .footer__image {
    width: 18rem; }
  .footer__li {
    float: left;
    font-size: 2.2rem;
    list-style: none;
    padding: 1.3rem; }
  .footer__link {
    color: #fff;
    text-decoration: none;
    transition: 1s; }
    .footer__link:hover {
      color: limegreen;
      transform: ease-out;
      text-decoration: underline; }

.footer-background {
  margin-top: 23rem;
  height: 310px;
  background: linear-gradient(rgba(153, 153, 153, 0.3), rgba(153, 153, 153, 0.3));
  -webkit-clip-path: polygon(0 28%, 100% 23%, 100% 58%, 0 60%);
  clip-path: polygon(0 28%, 100% 23%, 100% 58%, 0 60%); }

.main {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 130vh;
  background: linear-gradient(to right, #c51162, #6d0959);
  -webkit-clip-path: polygon(0 3%, 100% 6%, 100% 81%, 0 61%);
  clip-path: polygon(0 2%, 100% 6%, 100% 81%, 0 61%); }
  .main__text {
    color: #fff;
    font-size: 1.8rem; }
  .main__box {
    margin-left: 13rem; }
  .main__li {
    padding: 1rem;
    font-size: 8.8rem;
    list-style: none;
    line-height: 1.45em; }
  .main__link {
    color: #fff;
    text-decoration: none; }
  .main__li-logo {
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    transition: 1s ease-out; }
    .main__li-logo:hover {
      font-size: 10.4rem;
      color: white;
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      transform: rotateZ(360deg); }
    .main__li-logo:active {
      font-size: 8rem; }

.main-background {
  height: 100vh;
  background: linear-gradient(rgba(153, 153, 153, 0.3), rgba(153, 153, 153, 0.3));
  -webkit-clip-path: polygon(0 7%, 100% 0, 100% 50%, 0 50%);
  clip-path: polygon(0 7%, 100% 0, 100% 50%, 0 50%); }
