@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 0;
  box-sizing: border-box; }

::selection {
  background-color: orangered;
  color: #fff; }

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 2; }

.heading1 {
  letter-spacing: .8rem;
  color: orangered;
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 100; }
  .heading1--first {
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .heading1--second {
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.header__logo {
  height: 14rem;
  display: block;
  margin-left: auto;
  margin-right: auto; }
