@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-1.2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(1.2rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  padding: 0;
  box-sizing: border-box; }

::selection {
  background-color: #c51162;
  color: #fff; }

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 2; }

.heading1 {
  letter-spacing: .8rem;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading1--first {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    font-size: 7.5rem;
    font-weight: 300;
    display: inline-block;
    color: #c51162; }
  .heading1--second {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    font-size: 5rem;
    font-weight: 100;
    display: inline-block;
    color: #c51162; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.header__logo {
  height: 11rem;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.section-1 {
  z-index: 5000;
  height: 125vh;
  background-color: rgba(153, 153, 153, 0.4);
  -webkit-clip-path: polygon(0 2%, 100% 6%, 100% 81%, 0 61%);
  clip-path: polygon(0 2%, 100% 6%, 100% 81%, 0 61%); }
  .section-1--secondary {
    height: 150vh;
    background: linear-gradient(to right, rgba(197, 17, 98, 0.9), rgba(109, 9, 89, 0.9));
    -webkit-clip-path: polygon(0 2%, 100% 6%, 100% 81%, 0 61%);
    clip-path: polygon(0 2%, 100% 6%, 100% 81%, 0 61%); }
