@charset "UTF-8";

@font-face {
  font-family: "linea-basic-10";
  src:url("fonts/linea-basic-10.eot");
  src:url("fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
    url("fonts/linea-basic-10.woff") format("woff"),
    url("fonts/linea-basic-10.ttf") format("truetype"),
    url("fonts/linea-basic-10.svg#linea-basic-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "linea-basic-10" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "linea-basic-10" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-basic-accelerator:before {
  content: "a";
}
.icon-basic-alarm:before {
  content: "b";
}
.icon-basic-anchor:before {
  content: "c";
}
.icon-basic-anticlockwise:before {
  content: "d";
}
.icon-basic-archive:before {
  content: "e";
}
.icon-basic-archive-full:before {
  content: "f";
}
.icon-basic-ban:before {
  content: "g";
}
.icon-basic-battery-charge:before {
  content: "h";
}
.icon-basic-battery-empty:before {
  content: "i";
}
.icon-basic-battery-full:before {
  content: "j";
}
.icon-basic-battery-half:before {
  content: "k";
}
.icon-basic-bolt:before {
  content: "l";
}
.icon-basic-book:before {
  content: "m";
}
.icon-basic-book-pen:before {
  content: "n";
}
.icon-basic-book-pencil:before {
  content: "o";
}
.icon-basic-bookmark:before {
  content: "p";
}
.icon-basic-calculator:before {
  content: "q";
}
.icon-basic-calendar:before {
  content: "r";
}
.icon-basic-cards-diamonds:before {
  content: "s";
}
.icon-basic-cards-hearts:before {
  content: "t";
}
.icon-basic-case:before {
  content: "u";
}
.icon-basic-chronometer:before {
  content: "v";
}
.icon-basic-clessidre:before {
  content: "w";
}
.icon-basic-clock:before {
  content: "x";
}
.icon-basic-clockwise:before {
  content: "y";
}
.icon-basic-cloud:before {
  content: "z";
}
.icon-basic-clubs:before {
  content: "A";
}
.icon-basic-compass:before {
  content: "B";
}
.icon-basic-cup:before {
  content: "C";
}
.icon-basic-diamonds:before {
  content: "D";
}
.icon-basic-display:before {
  content: "E";
}
.icon-basic-download:before {
  content: "F";
}
.icon-basic-exclamation:before {
  content: "G";
}
.icon-basic-eye:before {
  content: "H";
}
.icon-basic-eye-closed:before {
  content: "I";
}
.icon-basic-female:before {
  content: "J";
}
.icon-basic-flag1:before {
  content: "K";
}
.icon-basic-flag2:before {
  content: "L";
}
.icon-basic-floppydisk:before {
  content: "M";
}
.icon-basic-folder:before {
  content: "N";
}
.icon-basic-folder-multiple:before {
  content: "O";
}
.icon-basic-gear:before {
  content: "P";
}
.icon-basic-geolocalize-01:before {
  content: "Q";
}
.icon-basic-geolocalize-05:before {
  content: "R";
}
.icon-basic-globe:before {
  content: "S";
}
.icon-basic-gunsight:before {
  content: "T";
}
.icon-basic-hammer:before {
  content: "U";
}
.icon-basic-headset:before {
  content: "V";
}
.icon-basic-heart:before {
  content: "W";
}
.icon-basic-heart-broken:before {
  content: "X";
}
.icon-basic-helm:before {
  content: "Y";
}
.icon-basic-home:before {
  content: "Z";
}
.icon-basic-info:before {
  content: "0";
}
.icon-basic-ipod:before {
  content: "1";
}
.icon-basic-joypad:before {
  content: "2";
}
.icon-basic-key:before {
  content: "3";
}
.icon-basic-keyboard:before {
  content: "4";
}
.icon-basic-laptop:before {
  content: "5";
}
.icon-basic-life-buoy:before {
  content: "6";
}
.icon-basic-lightbulb:before {
  content: "7";
}
.icon-basic-link:before {
  content: "8";
}
.icon-basic-lock:before {
  content: "9";
}
.icon-basic-lock-open:before {
  content: "!";
}
.icon-basic-magic-mouse:before {
  content: "\"";
}
.icon-basic-magnifier:before {
  content: "#";
}
.icon-basic-magnifier-minus:before {
  content: "$";
}
.icon-basic-magnifier-plus:before {
  content: "%";
}
.icon-basic-mail:before {
  content: "&";
}
.icon-basic-mail-multiple:before {
  content: "'";
}
.icon-basic-mail-open:before {
  content: "(";
}
.icon-basic-mail-open-text:before {
  content: ")";
}
.icon-basic-male:before {
  content: "*";
}
.icon-basic-map:before {
  content: "+";
}
.icon-basic-message:before {
  content: ",";
}
.icon-basic-message-multiple:before {
  content: "-";
}
.icon-basic-message-txt:before {
  content: ".";
}
.icon-basic-mixer2:before {
  content: "/";
}
.icon-basic-mouse:before {
  content: ":";
}
.icon-basic-notebook:before {
  content: ";";
}
.icon-basic-notebook-pen:before {
  content: "<";
}
.icon-basic-notebook-pencil:before {
  content: "=";
}
.icon-basic-paperplane:before {
  content: ">";
}
.icon-basic-pencil-ruler:before {
  content: "?";
}
.icon-basic-pencil-ruler-pen:before {
  content: "@";
}
.icon-basic-photo:before {
  content: "[";
}
.icon-basic-picture:before {
  content: "]";
}
.icon-basic-picture-multiple:before {
  content: "^";
}
.icon-basic-pin1:before {
  content: "_";
}
.icon-basic-pin2:before {
  content: "`";
}
.icon-basic-postcard:before {
  content: "{";
}
.icon-basic-postcard-multiple:before {
  content: "|";
}
.icon-basic-printer:before {
  content: "}";
}
.icon-basic-question:before {
  content: "~";
}
.icon-basic-rss:before {
  content: "\\";
}
.icon-basic-server:before {
  content: "\e000";
}
.icon-basic-server2:before {
  content: "\e001";
}
.icon-basic-server-cloud:before {
  content: "\e002";
}
.icon-basic-server-download:before {
  content: "\e003";
}
.icon-basic-server-upload:before {
  content: "\e004";
}
.icon-basic-settings:before {
  content: "\e005";
}
.icon-basic-share:before {
  content: "\e006";
}
.icon-basic-sheet:before {
  content: "\e007";
}
.icon-basic-sheet-multiple:before {
  content: "\e008";
}
.icon-basic-sheet-pen:before {
  content: "\e009";
}
.icon-basic-sheet-pencil:before {
  content: "\e00a";
}
.icon-basic-sheet-txt:before {
  content: "\e00b";
}
.icon-basic-signs:before {
  content: "\e00c";
}
.icon-basic-smartphone:before {
  content: "\e00d";
}
.icon-basic-spades:before {
  content: "\e00e";
}
.icon-basic-spread:before {
  content: "\e00f";
}
.icon-basic-spread-bookmark:before {
  content: "\e010";
}
.icon-basic-spread-text:before {
  content: "\e011";
}
.icon-basic-spread-text-bookmark:before {
  content: "\e012";
}
.icon-basic-star:before {
  content: "\e013";
}
.icon-basic-tablet:before {
  content: "\e014";
}
.icon-basic-target:before {
  content: "\e015";
}
.icon-basic-todo:before {
  content: "\e016";
}
.icon-basic-todo-pen:before {
  content: "\e017";
}
.icon-basic-todo-pencil:before {
  content: "\e018";
}
.icon-basic-todo-txt:before {
  content: "\e019";
}
.icon-basic-todolist-pen:before {
  content: "\e01a";
}
.icon-basic-todolist-pencil:before {
  content: "\e01b";
}
.icon-basic-trashcan:before {
  content: "\e01c";
}
.icon-basic-trashcan-full:before {
  content: "\e01d";
}
.icon-basic-trashcan-refresh:before {
  content: "\e01e";
}
.icon-basic-trashcan-remove:before {
  content: "\e01f";
}
.icon-basic-upload:before {
  content: "\e020";
}
.icon-basic-usb:before {
  content: "\e021";
}
.icon-basic-video:before {
  content: "\e022";
}
.icon-basic-watch:before {
  content: "\e023";
}
.icon-basic-webpage:before {
  content: "\e024";
}
.icon-basic-webpage-img-txt:before {
  content: "\e025";
}
.icon-basic-webpage-multiple:before {
  content: "\e026";
}
.icon-basic-webpage-txt:before {
  content: "\e027";
}
.icon-basic-world:before {
  content: "\e028";
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-8rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(8rem); }
  100% {
    opacity: 1;
    transform: translate(7); } }

@keyframes moveInTop {
  0% {
    opacity: 1;
    transform: translateY(-30rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 1;
    transform: translateY(20rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.5%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 122.5em) {
    html {
      font-size: 74%; } }

body {
  padding: 0;
  box-sizing: border-box; }

::selection {
  background-color: #ff8899;
  color: #fff; }

body {
  font-family: 'Quicksand', sans-serif;
  line-height: 2; }

.heading__front {
  letter-spacing: .8rem;
  text-transform: uppercase;
  backface-visibility: hidden; }
  .heading__front--first {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    font-size: 7.5rem;
    font-weight: 300;
    display: inline-block;
    color: #c51162; }
    @media only screen and (max-width: 37.5em) {
      .heading__front--first {
        font-size: 5rem;
        animation-name: moveInTop; } }
  .heading__front--second {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    font-size: 5rem;
    font-weight: 100;
    display: inline-block;
    color: #c51162; }
    @media only screen and (max-width: 37.5em) {
      .heading__front--second {
        font-size: 3.5;
        animation-name: moveInBottom; } }

.heading-primary {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  animation-name: moveInTop;
  animation-duration: 1.4s;
  animation-timing-function: ease-in; }

.heading-secondary {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #c51162; }
  .heading-secondary:hover {
    font-weight: 600; }

.paragraph {
  font-size: 1.6rem;
  color: #fff; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-left-small {
  margin-left: 1.5rem !important; }

.u-margin-left-medium {
  margin-left: 4rem !important; }

.u-margin-left-big {
  margin-left: 8rem !important; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  /* margin: 0 auto; centers the block element, inside another block element */ }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header__logo {
  width: 15rem;
  display: inline-block; }

.header__logo-box {
  display: inline-block; }

.footer {
  padding: 10rem 0;
  margin-top: 25rem;
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 300px;
  background: linear-gradient(to right, #6d0959, #c51162);
  -webkit-clip-path: polygon(0 8%, 100% 34%, 100% 100%, 0% 100%);
  clip-path: polygon(0 8%, 100% 34%, 100% 100%, 0% 100%); }
  .footer__copy-right {
    color: #fff;
    font-size: 1.2rem;
    display: inline-block;
    margin-left: -18rem; }
  .footer__copy-right-link {
    color: #fff;
    text-decoration: none;
    transition: 1s; }
    .footer__copy-right-link:hover {
      transform: ease-out;
      font-size: 1.4rem;
      text-decoration: underline; }
  .footer__image {
    width: 18rem; }
  .footer__li {
    float: left;
    font-size: 2rem;
    list-style: none;
    padding: 1.3rem; }
  .footer__link {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    transition: 1s; }
    .footer__link:hover {
      color: #fff;
      transform: ease-in;
      text-decoration: underline; }
  .footer__li-logo {
    -webkit-transition: 1.5s ease-out;
    -moz-transition: 1.5s ease-out;
    transition: 1s ease-out; }
    .footer__li-logo:hover {
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
      color: #fff; }

.footer-background {
  margin-top: 23rem;
  height: 310px;
  background: linear-gradient(rgba(153, 153, 153, 0.3), rgba(153, 153, 153, 0.3));
  -webkit-clip-path: polygon(0 28%, 100% 23%, 100% 58%, 0 60%);
  clip-path: polygon(0 28%, 100% 23%, 100% 58%, 0 60%); }

.section-1 {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 130vh;
  background: linear-gradient(to right, #c51162, #6d0959);
  -webkit-clip-path: polygon(0 3%, 100% 6%, 100% 81%, 0 61%);
  clip-path: polygon(0 2%, 100% 6%, 100% 81%, 0 61%); }
  .section-1__text {
    color: #fff;
    font-size: 1.8rem; }
  .section-1__box {
    margin-left: 13rem; }
  .section-1__li {
    padding: 1rem;
    font-size: 8.8rem;
    list-style: none;
    line-height: 1.45em; }
  .section-1__link {
    color: #fff;
    text-decoration: none; }
  .section-1__li-logo {
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: 1.5s ease-out;
    -moz-transition: 1.5s ease-out;
    transition: 1s ease-out; }
    .section-1__li-logo:hover {
      font-size: 11rem;
      color: white;
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      transform: rotateZ(360deg); }
    .section-1__li-logo:active {
      font-size: 8rem; }
  .section-1__button {
    animation-name: moveInLeft;
    animation-duration: 1.4s;
    animation-timing-function: ease-out; }

.section-1-background {
  height: 100vh;
  background: linear-gradient(rgba(153, 153, 153, 0.3), rgba(153, 153, 153, 0.3));
  -webkit-clip-path: polygon(0 7%, 100% 0, 100% 50%, 0 50%);
  clip-path: polygon(0 7%, 100% 0, 100% 50%, 0 50%); }

.section-2 {
  width: 100%;
  padding: 10rem 0 0; }

.card {
  perspective: 150rem;
  -moz-prefix: 160rem;
  position: relative;
  height: 40rem; }
  .card__side {
    height: 45rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.18);
    overflow: hidden; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      background: linear-gradient(to left bottom, #c511a1, #c51162);
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__image {
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen; }
    .card__image--1 {
      background-image: linear-gradient(to left bottom, #c511a1, #c51162), url(../img/politweet.png);
      -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 77%, 70% 91%, 47% 95%, 23% 92%, 0 95%);
      clip-path: polygon(0% 0%, 100% 0, 100% 77%, 70% 91%, 47% 95%, 23% 92%, 0 95%); }
    .card__image--2 {
      background-image: linear-gradient(to left bottom, #c511a1, #c51162), url(../img/personal_web.png);
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 68% 96%, 49% 93%, 26% 94%, 0 100%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 68% 96%, 49% 93%, 26% 94%, 0 100%); }
    .card__image--3 {
      background-image: linear-gradient(to left bottom, #c511a1, #c51162), url(../img/clappy-bird.png);
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 79% 93%, 51% 100%, 24% 85%, 0 78%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 79% 93%, 51% 100%, 24% 85%, 0 78%); }
    .card__image--4 {
      background-image: linear-gradient(to left bottom, #c511a1, #c51162), url(../img/discord-bot.png);
      -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 79% 93%, 60% 94%, 31% 93%, 0 100%);
      clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 79% 93%, 60% 94%, 31% 93%, 0 100%); }
  .card__header {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.85rem;
    color: #6d0959; }
    .card__header--back {
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 2rem;
      border-bottom: 1px solid #eee;
      width: 80%;
      margin: 0 auto; }
  .card__li-header {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-top: .8rem; }
  .card__li-text {
    font-size: 1rem;
    list-style: none;
    margin: 0 auto;
    color: #c511a1; }
    .card__li-text:not(:last-child) {
      border-bottom: 1px solid #eee;
      width: 80%; }
  .card__li-status {
    padding-top: .8rem;
    font-size: 1.3rem;
    color: #c511a1; }
  .card__link--logo {
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    transition: .3s ease-in;
    font-size: 12rem;
    margin: 0 auto; }
    .card__link--logo:hover {
      color: white;
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      transform: rotateY(360deg); }
    .card__link--logo:active {
      font-size: 8rem; }
  .card__back-text {
    color: #fff;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: .2rem;
    margin-right: .2rem; }

.button-white {
  background: #fff;
  color: #ff4455;
  font-size: 2rem; }
  .button-white:link, .button-white:visited {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 8px 25px;
    border-radius: 5rem;
    transition: all .3s; }
  .button-white:hover {
    transform: translateY(-3px);
    box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.18); }
  .button-white:active {
    transform: translateY(2px);
    box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.18); }
