.footer  {
    padding: 10rem 0;
    margin-top: 25rem;
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 300px;
    background: linear-gradient(
        to right,
        rgba($color-purple-dark, 1),
        rgba($color-purple-medium, 1));

    -webkit-clip-path: polygon(0 8%, 100% 34%, 100% 100%, 0% 100%);
    clip-path: polygon(0 8%, 100% 34%, 100% 100%, 0% 100%);

    @include responsive(phone) {
        -webkit-clip-path: polygon(0 20%, 100% 34%, 100% 100%, 0% 100%);
        clip-path: polygon(0 20%, 100% 34%, 100% 100%, 0% 100%);
        height: auto;
       }

    &__copy-right {
        color: $color-white;
        font-size: 1.2rem;
        display: inline-block;
        margin-left: -18rem;

    }

    &__copy-right-link {
        color: $color-white;
        text-decoration: none;
        transition: 1s;

        &:hover {
            transform: ease-out;
            font-size: 1.4rem;
            text-decoration: underline;
        }
    }

    &__image {
        width: 18rem;

        @include responsive(phone) {
            margin-top: 20rem;
      }
    }


    &__li { 
        float: left;
        font-size: 2rem;
        list-style: none;
        padding: 1.3rem;

        @include responsive(phone) {
            float: none;
            padding: 3.3rem;
            font-size: 3rem;
      }
    }

    &__link {
        color: rgba($color-white, 0.8);
        text-decoration: none;
        transition: 1s;


        &:hover {
            color: $color-white;
            transform: ease-in;
            text-decoration: underline;

        }    
    }

    &__li-logo {
        -webkit-transition: 1.5s ease-out;
        -moz-transition: 1.5s ease-out;
        transition: 1s ease-out;

        &:hover {
            -webkit-transform: rotateZ(360deg);
            -moz-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
            color: $color-white;
        }
    }
}

.footer-background {
    margin-top: 23rem;
    height:  310px;
    background: linear-gradient(
                rgba($color-grey-dark-2, .3),
                rgba($color-grey-dark-2, .3));

        -webkit-clip-path: polygon(0 28%, 100% 23%, 100% 58%, 0 60%);
        clip-path: polygon(0 28%, 100% 23%, 100% 58%, 0 60%);

        @include responsive(phone) {
            margin-top: 25rem;
            -webkit-clip-path: polygon(0 28%, 100% 23%, 100% 100%, 0 60%);
            clip-path: polygon(0 25%, 100% 23%, 100% 100%, 0 60%);
            height: 500px;
      }
        
}