.row {
    max-width: $grid-with;
    margin: 0, auto;
    /* margin: 0 auto; centers the block element, inside another block element */

    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    } 
 }

// ------------------------------
//         CSS FLOAT GRIDS
// ------------------------------

// Selects all class atributs where name starts with cal-
// $ would target all which ends with -cal

 [class^="col-"] {
    float: left;

    &:not(:last-child) {
         margin-right: $gutter-horizontal;
    }
  }
