.header {

    &__logo {
        height: 14rem;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    &__logo-box {
        // position: absolute;
    }

    &__text-box {

    }
}