.header {
    
    &__logo {
        background-image: linear-gradient(to right top,
        rgba($color-purple-medium, 1), 
        rgba($color-purple-dark, 0.8));
        height: 11rem;
        display: block;
        margin-left: auto;
        margin-right: auto; 

    }

    &__logo-box {

    }

    &__text-box {

    }
}