// Universal styling through 

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // Defines what 1 rem is, ()
}

body {
    padding: 0;
    box-sizing: border-box;
}

//TODO 
::selection {
    background-color: $color-pink-light;
    color: $color-white;
   }