canvas {
    position: fixed;
    display: block;
    vertical-align: bottom;
    
  }
 
  #particles-js {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 152%;
    z-index: 5; // *
  }