body {
    font-family: 'Quicksand', sans-serif;
    line-height: 2;
}

.heading__front {
    letter-spacing: .8rem;
    text-transform: uppercase;
    backface-visibility: hidden;

    &--first {
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        font-size: 7.5rem;
        font-weight: 300;
        display: inline-block;
        color: $color-purple-medium;
    }

    &--second {
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        font-size: 5rem;
        font-weight: 100;
        display: inline-block;
        color: $color-purple-medium;
    }
}

.heading-primary {
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;

    animation-name: moveInTop;
    animation-duration: 1.4s;
    animation-timing-function: ease-in;
}

.heading-secondary {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-purple-medium;

    @include responsive(phone) {
        font-size: 3.8rem;
        margin-top: 5rem;
       }

    &:hover {
        font-weight: 600;  
    }
}

.paragraph {
    font-size: $default-font-size;
    color: $color-white;
 }



