body {
    font-family: 'Quicksand', sans-serif;
    line-height: 2;

}

.heading1 {
    letter-spacing: .8rem;
    text-transform: uppercase;
    backface-visibility: hidden;

    &--first {
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        font-size: 7.5rem;
        font-weight: 300;
        display: inline-block;
        color: $color-purple-medium;
    }

    &--second {
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        font-size: 5rem;
        font-weight: 100;
        display: inline-block;
        color: $color-purple-medium;
    }
}



