.section-1 { 
    height: 125vh;
    background-size: cover;
    background-image: linear-gradient(
        to right,
        rgba($color-purple-medium, .9),
        rgba($color-purple-dark, .9));

        -webkit-clip-path: polygon(0 2%, 100% 6%, 100% 81%, 0 61%);
        clip-path: polygon(0 2%, 100% 6%, 100% 81%, 0 61%);

}