.section-1 { 
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 130vh;
    background: linear-gradient(
        to right,
        rgba($color-purple-medium, 1),
        rgba($color-purple-dark, 1));

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 3%, 100% 6%, 100% 77%, 0 61%);
        clip-path: polygon(0 3%, 100% 6%, 100% 75%, 0 61%);
        height: 140vh;
      }

    @include responsive(tab-side) {
        padding: 4rem;
        height: 155vh;
        }

    @include responsive(tab-normal) {
        height: 160vh;
        -webkit-clip-path: polygon(0 3%, 100% 6%, 100% 65%, 0 61%);
        clip-path: polygon(0 2%, 100% 6%, 100% 65%, 0 61%);
        padding: 2rem;
       }

    @include responsive(phone) {
        height: 170vh;
        -webkit-clip-path: polygon(0 3%, 100% 6%, 100% 65%, 0 61%);
        clip-path: polygon(0 2%, 100% 6%, 100% 65%, 0 61%);
        padding: 2rem;
       }

    &__text {
        color: $color-white;
        font-size: 1.8rem;
    }

    &__arrow-text {
        font-size: 1.5rem;
    }

    &__box {
        margin-left: 13rem;

        @include responsive(phone) {
            margin-top: 0 !important;
        }
    }

    &__li {
        padding: 1rem;
        font-size: 8.8rem;
        list-style: none;
        line-height: 1.45em;

        @include responsive(tab-normal) {
            float: right;
            padding: 2rem;
           }

        @include responsive(phone) {
            float: right;
            font-size: 4rem;
            padding: 1.5rem;
            margin-top: 0;
        }
    }

    &__link {
        color: $color-white;
        text-decoration: none;
    }

    &__li-logo {
        color: rgba($color-white, 0.7);
        -webkit-transition: 1.5s ease-out;
        -moz-transition: 1.5s ease-out;
        transition: 1s ease-out;

        &:hover {
            color: rgba($color-white, 1);
            -webkit-transform: rotateZ(360deg);
            -moz-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
        }

        &:active {
            font-size: 8rem;
        }
    }

    &__button {
        animation-name: moveInLeft;
        -webkit-animation-name: moveInLeft;
        animation-duration: 1.4s;
        -webkit-animation-duration: 1.4s;
        animation-timing-function: ease-out;
        -webkit-animation-timing-function: ease-out;
    }

    &__desktop-icon {
        @include responsive(phone) {
            display: none !important;
        }
    }

    &__phone-icon {
        display: none !important;

        @include responsive(phone) {
            display: inline-block !important;
        }
    }
}


.section-1-background {

    height:  100vh;
    background: linear-gradient(
                rgba($color-grey-dark-2, .3),
                rgba($color-grey-dark-2, .3));
        
    -webkit-clip-path: polygon(0 7%, 100% 0, 100% 50%, 0 50%);
    clip-path: polygon(0 7%, 100% 0, 100% 50%, 0 50%);
}